body{margin: 0;}
ul, ol {padding: 0;}
li {list-style-type: none;}

.bodyIndex{
    background-color: aliceblue;
}

.headerPadre{
    display: flex;
    flex-direction: column;
    height: 12vh;
    border-bottom: 2px solid black;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 300px;
}
.botonHeader{
    color: blue;
}
buscadorTexto{
    font-weight: 600;
}
.menuHeader{
    
}


.logoContainer{
    align-self: center;
}
.track-list{
    display: flex;
    flex-direction: row;
}
.album-list{
    display: flex;
    flex-direction: row;
}
.artist-list{
    display: flex;
    flex-direction: row;
    
}
.indexArtistPic{
    height: 300px;
    width: 300px;
}
.indexAlbumsPic{
    height: 300px;
    width: 300px; 
}
.indexSongPic{
    height: 300px;
    width: 300px; 
}
.indexSubtitles{
    text-align: center;
    font-size: 50px;
}
.trackIndexList{
    text-align: center;
}
.trackIndexLinks{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: darkgreen;
}
.albumIndexLinks{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: darkgreen;
}
.artistIndexLinks{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: darkgreen;
}
.trackDetailText{
    text-align: center;
}
.buttonTrack{
    position: absolute;
left: 50%;
transform: translate(-50%, -50%);
border: 5px solid #0ccc3c;
padding: 5px;
}
.tituloDetail{
    text-align: center;

}
.detailTrackPic{
    height: 300px;
    width: 300px;
}
.trackDetail{
background: #dac4c4;
display: flex;
justify-content: center;
}
.trackDetailText{
    font-size: 20px;
    text-align: center;
    color: black
}
.albumDetailText{
    font-size: 20px;
}
.albumDetailTrackList{
    font-size: 25px;
    text-decoration: none;
    color: darkgreen;
}
.detailArtistPic{
    height: 300px;
}
.genresMainPic{
    width: 400px;
}
.genreMain{
    background-color: lightsalmon;
    display: flex;
    justify-content: center;
}
.playlistMainPic{
    width: 500px;
}
.playlistTracks{
    font-size: 40px;
    text-decoration: none;
    color: whitesmoke;
    text-align: left;
}
.playlistDetail{
    background-color: #0C1821;
    display: flex;
    justify-content: center;
}
.playlistPic{
    width: 40px;
}
.artistSection{
    background-color: #0C1821;
    display: flex;
    justify-content: center;
}
.searchHome{
    background-color: aliceblue;
    display: flex;
    justify-content: center;

}
.searchTracks{
    font-size: 40px;
    text-decoration: none;
    color: #0C1821;
    text-align: left;
}
.fa-solid fa-circle-play{
    size: 60px;
}
.searchMiniPic{
    width: 40px;
    height: 40px;
}
.trackDetailAlbum{
    background: #dac4c4;
    display: flex;
    justify-content: center;


}
.genresPP{
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: darkgreen;
}
.albumDetailText{
    font-size: 20px;
    color: black

}
.trackDetailArtist{
    background:  rgb(226, 192, 224);
    display: flex;
    justify-content: center;
}

.detailArtistPP{
    font-size: 20px;
}
/*MEDIDAS MOBILE*/
@media (max-width: 390px) {
    .headerPadre{
        height: 150vw;
        width: 380vw;
        background-repeat: no-repeat;
        background-size: 100%;
        justify-content: center;
        align-items: center;
    }

    .h1Index{
        opacity: 0;
    }

    .logo{
        height: 100vw;
        width: auto;
    }
    .logoContainer{
        height: 185vw;
        align-self: center;
    }
    
    .search{
        width: 220vw;
        height: 80vw;
        align-self: flex-end;
    }


    /*TRACK DETAIL*/

    .trackDetail{
        width: 100vw;
        justify-self: center;
    }

    .tituloDetail{
        font-size: 25vw;
        width: 365vw;
    }

    .detailTrackPic{
        width: 370vw;
        height: 360vw;
    }

    .trackDetailText{
        width: 250vw;
        height: 50vw;
        font-size: 18vw;
    }

    .trackDetailPP{
        font-size: 15vw;
    }

    .trackDetail{
        width: 376vw;
        height: 630vw;
        background-color: rgb(226, 192, 224);
    }

    .buttonTrack{
        width: 308vw;
        height: 22vw;
        font-size: 12vw;
        text-align: center;
        position: fixed;
    }

    /*INDEX*/

    .indexSubtitles{
        width: 375vw;
        height: vw;
        font-size: 35vw;
        background-color:black;
        color: white;
    }

    /*songs*/ 
    .track-list{
        height: 2450vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .indexSongPic{
        width: 374vw;
        height: 374vw;
    }

    .trackIndex{
        font-size: 0vw;
        text-align: center;
    }

    .trackIndexLinks{
        font-size: 25vw;
    }

    /*album*/
    .album-list{
        height: 2250vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .indexAlbumsPic{
        width: 374vw;
        height: 374vw;
    }

    .albumIndex{
        font-size: 25vw;
    }

    .albumIndexLinks{
        font-size: 25vw;
    }


    /*artist*/

    .artist-list{
        height: 2250vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .indexArtistPic{
        width: 374vw;
        height: 374vw;
    }

    .artistIndexLinks{
        font-size: 25vw;
        text-align: center;
    }

    .artistIndex{
        font-size: 25vw;
    }

    /*genres*/

    .genreMain{
        width: 378vw;
        height: 500vw;
    }

    .genresMainPic{
        width: 280vw;
    
    }

    .albumDetailTrackList{
        font-size: 18vw;
    }

    .genresPP{
        font-size: 20vw;
    }

    .tituloDetail{
        background-color: black;
        color: white;
        text-align: center;
        width: 378vw;
    }

    /*detail album*/

    .trackDetailAlbum{
        width: 376vw;
        height: 1020vw;
        background-color: rgb(226, 192, 224);
    }
    .albumDetailText{
        font-size: 20vw;
        color: black;
        text-align: left;
    
    }

    /*playlist*/
    .playlistDetail{
        width: 376vw;
        height: 450vw;
    }

    .playlistMainPic{
        width: 300vw;
    }

    .playlistPP{
        font-size: 20vw;
        background-color: white;
    }

    .playlistTracks{
        font-size: 18vw;
    }

    .playlistPic{
        font-size: 14vw;
    }
    .detailGenreSubtitle{
        font-size: 25vw;
        text-align: center;
        width: 370vw;
    }
    /*header*/
    .botonHeader{
        width: 265vw;
        border: none;
        background-color: lightgreen;
        padding: 14px 28px;
        font-size: 20vw;
        text-align: center;
    }
    .buscadorTexto{
        display: block;
        width: 250vw;
        border: none;
        background-color: #e5f0ec;
        padding: 14px 28px;
        font-size: 20vw;
        text-align: center;
    }
    .menuHeader{
        font-size: 100px;
        text-align: center;
    }
    /*detail-genre*/
    .detailGenreSubtitle{
        font-size: 25vw;
        text-align: center;
        width: 370vw;
    }

    /*searchhh*/
    .searchHome{
        background-color: rgb(226, 192, 224);
        width: 376vw;
        height: 260vw;
    }

    .searchTracks{
        font-size: 20vw;
    }

    .searchMiniPic{
        width: 16vw;
        height: 14vw;
    }

    .fa-solid{
        font-size: 16vw;
    }

    /*detail artist*/
    .detailArtistPic{
        width: 370vw;
        height: 220vw;
    }

    .detailArtistPP{
        font-size: 18vw;

    }

    .trackDetailArtist{
        width: 376vw;
        height: 390vw;
        background-color: rgb(226, 192, 224);
    }
    .reproductor{
        width: 265vw;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 265vw;
    }

}



